@import './headerGroups/tender.scss';
@import './headerGroups/search.scss';
@import './headerGroups/abbicon.scss';
@import './headerGroups/client-type.scss';


// --------------------HEADER--------------------------------

.header {
position: relative;
z-index: 11;
    @mixin headerDefault {
        display: flex;
        align-items: center;
        width: 100%;
        position: fixed;
        transition: 300ms;
        left: 0;
        
    }

    .header-top-back {
       height: 60px;

       .header-top-fixed {

        @include headerDefault;
        height: 60px;
        background-color: rgb(246, 248, 252);
        top: 0px;
        z-index: 11;
        .my-container {
            .header-top {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }
       }
    }

  .header-main-back {
  height: 60px;

   .header-main-fixed {
    @include headerDefault;
    background-color: white;
    height: 60px;
    .my-container {

        .header-main {
            display: flex;
                align-items: center;
                justify-content: space-between;

                .header-main-left {
                    display: flex;
                    align-items: center;

                    & > * {
                        color: rgb(54, 51, 51);
                        &:hover {
                            color: blue;
                        }

                    }
                    
                    .header-main-left-selected {
                        color: blue;
                    }

                }
                .header-main-right {
                    display: flex
                }
        }
    }
   }
  }
    .header-bottom-back {
      height: 60px;

     .header-bottom-fixed {
        
        @include headerDefault;
        background-color: rgb(255, 255, 255);
        .my-container {

            .header-bottom {
                .bottom-tab {
                    display: flex;
                    position: relative;
                    li {
                      
                       overflow: hidden;
                       .bottom-tab-link {
                        border-bottom: 2px solid rgb(255, 255, 255);
                        transition: 200ms;
                           padding: 7px;
                           font-size: 12px;
                           height: 100%;
                           white-space: pre;
                       }
                    
                      
                             .bottom-tab-content {
                     
                        display: none;
                        }

                   
                    

                    &:hover {
                       
                        .bottom-tab-link {
                            border-bottom: 2px solid rgb(0, 0, 0);
                            cursor: pointer;
                        }
                        .bottom-tab-content {
                            display: grid;
                            grid-template-columns: repeat(2, 1fr);
                            grid-template-areas: 'first first';
                            gap: 10px;
                            background-color: white;
                            position: fixed;
                            padding: 20px;
                            width: 100%;
                            left: 0;
                            border-top: 1px solid rgba(77, 75, 75, 0.199);

                            .bottom-tab-content-left {
                                display: grid;
                                grid-template-columns: auto auto;
                                gap: 10px;
                                align-content: flex-start;
                                font-weight: 600;
                                font-size: 18px;

                            }
                            .bottom-tab-content-right {
                                display: grid;
                                grid-template-columns: 60% 40%;
                                gap: 10px;

                            }
                        }

                       
                 
                        }
                }


         

                }

            

            }
        }
     }


    }
}

// ------------------------HEADER-DEFAULT-----------------

.header-default {
    .header-main-fixed {
        top: 60px; 
        z-index: 10;
    }

    .header-bottom-fixed {
        height: 60px;
        top: 120px;
        z-index: 10;
    }  
}

// ---------------HEADER-SCROLL------------------------------

.header-scroll {
    .header-main-fixed {
      
        top: 0px;
        z-index: 11;
    }

    .header-bottom-fixed {
        height: 50px;
        top: 60px;
        z-index: 10;
    }

  
}


// mobile header

.mobile-header {
    height: 110px;
      position: relative;
      left: 0;
      width: 100%;
      z-index: 15;
      transition: 300ms;
  
      @mixin displayMobile {
  
          display: flex;
          justify-content: space-between;
          align-items: center;
      }
  
      .mobile-header-top {
          background-color: rgb(238, 238, 245);
          @include displayMobile;
          position: fixed;
          top: 0px;
          width: 100%;
          z-index: 16;
          height: 50px;
          transition: 300ms;
          padding: 0px 10px;
      }
  
      .mobile-header-bottom{
          background-color: rgb(255, 255, 255);
          @include displayMobile;
          position: fixed;
          top: 50px;
          width: 100%;
          z-index: 15;
          padding: 0px 10px;
          height: 60px;
          transition: 300ms;
          border-bottom: 1px solid rgba(0, 0, 0, 0.116);
          
       
      }

}

.mobile-header-default {
    .mobile-header-top {
        top: 0px;
        // transition: 500ms;
    }
    .mobile-header-bottom {
        top: 50px;
        // transition: 500ms;
    }
}

.mobile-header-scroll {
    .mobile-header-top {
        top: -110px;
        // transition: 500ms;
    }
    .mobile-header-bottom {
        top: -60px;
        // transition: 500ms;
    }
}
  

.mobile-header-content-show {
    animation: content-view 300ms 0ms ease-out  both;
    background-color: rgb(255, 255, 255);
    position: fixed;
    z-index: 14;
    height: 100vh;
    padding-top: 110px;
   overflow-y: auto;

    .mobile-header-content-ibanking {
        display: flex;
        justify-content: center;
        padding: 10px;
        background-color: blue;
        color: white;
        position: relative;
    }

    .mobile-header-content-tab {
        position: relative;
        background-color: white;

        @mixin tabDesign {
            padding: 10px 20px;
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: white;

        }

        .mobile-header-content-tab-item {
            border: 1px solid rgba(0, 0, 0, 0.178);
            position: relative;

            div {
              @include tabDesign ;
              position: sticky;
              &:hover {
                background-color: rgba(65, 2, 2, 0.349)
            } 
            }

            ul {
               
               
                li {
                    @include tabDesign;
                    padding-left: 30px;
                    font-size: 12px;

                    &:hover {
                        background-color: rgba(5, 99, 99, 0.397)
                    }
                }
            }
        };
    }

}
  
.mobile-header-content-hide {
    animation: content-hide 300ms 0ms ease-out  both;
        position: fixed;
        z-index: 14;
        height: 100vh;
        padding-top: 110px;
  

 

}




    @keyframes content-view {

        0% {
            left: 100%;
            width: 0%;
        }
        100% {
            left: 0%;
            width: 100%;
        }
        
    }
    @keyframes content-hide {
        0% {
            left: 0%;
            width: 100%;
        }

        100% {

            left: 100%;
            width: 0%;
        }
       
        
    }



