@import './headerGroups/tender.scss';
@import './headerGroups/search.scss';
@import './headerGroups/abbicon.scss';


// --------------------HEADER--------------------------------

.header {

    @mixin headerDefault {
        display: flex;
        align-items: center;
        width: 100%;
        position: fixed;
        transition: 300ms;
        left: 0;
        display: flex;
        align-items: center;
        
    }

    .header-top-back {
        @include headerDefault;
        height: 60px;
        background-color: rgba(224, 226, 233, 0.288);
        top: 0px;
        z-index: 11;

        .my-container {
            .header-top {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }
    }

  .header-main-back {
    @include headerDefault;
    background-color: white;
    height: 60px;

    .my-container {

        .header-main {
            display: flex;
                align-items: center;
                justify-content: space-between;

                .header-main-left {
                    display: flex;
                    align-items: center;

                    & > * {
                        color: rgb(54, 51, 51);
                        &:hover {
                            color: black;
                        }
                    }

                }
                .header-main-right {
                    display: flex
                }
        }
    }
  }
    .header-bottom-back {
        @include headerDefault;
        background-color: rgb(255, 255, 255);

        .my-container {

            .header-bottom {

                .bottom-tab {
                    display: flex;
                    position: relative;
                    li {
                      
                       overflow: hidden;
                       .bottom-tab-link {
                        border: 2px solid rgb(255, 255, 255);
                        transition: 200ms;
                           padding: 10px;
                           font-size: 12px;
                           height: 100%;
                       }
                    
                      
                             .bottom-tab-content {
                     
                        display: none;
                        }

                   
                    

                    &:hover {
                       
                        .bottom-tab-link {
                            border-bottom: 2px solid rgb(0, 0, 0);
                            cursor: pointer;
                        }
                        .bottom-tab-content {
                            display: grid;
                            grid-template-columns: repeat(2, 1fr);
                            grid-template-areas: 'first first';
                            gap: 10px;
                            background-color: white;
                            position: fixed;
                            padding: 20px;
                            width: 100%;
                            left: 0;
                            border-top: 1px solid rgba(77, 75, 75, 0.199);

                            .bottom-tab-content-left {
                                display: grid;
                                grid-template-columns: auto auto;
                                gap: 10px;
                                align-content: flex-start;
                                font-weight: 600;
                                font-size: 18px;

                            }
                            .bottom-tab-content-right {
                                display: grid;
                                grid-template-columns: 60% 40%;
                                gap: 10px;

                            }
                        }

                       
                 
                        }
                }


         

                }

            }
        }
    }
}

// ------------------------HEADER-DEFAULT-----------------

.header-default {
    .header-main-back {
        top: 60px; 
        z-index: 10;
    }

    .header-bottom-back {
        height: 60px;
        top: 120px;
        z-index: 10;
    }  
}

// ---------------HEADER-SCROLL------------------------------

.header-scroll {
    .header-main-back {
      
        top: 0px;
        z-index: 11;
    }

    .header-bottom-back {
        height: 50px;
        top: 60px;
        z-index: 10;
    }

  
}