

.slider-back {
    position: relative;
    margin: auto;
    width: 500px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    backface-visibility: visible;
    background-color: black;
    overflow: hidden;

    .slider {
        height: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        // transform: translateZ(-350px);
        transform-style: preserve-3d;
        // transform: rotate3d(1, 1, 0, 25deg);
        backface-visibility: inherit;
        // animation: rotate-slide 25s   infinite ease-out both;
        // animation: second-slider 1s 5s infinite linear both;
        transition: 1s;

        .slide {
            position: absolute;
            width: 500px;
            height: 200px;
            border: 5px solid rgb(1, 3, 34);
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 2rem;
            backface-visibility: inherit;
            transition: 1s;
        }
        .first-slide {
            transform: translateZ(350px);
            background-color: rgb(127, 255, 212);
            
        }
        .second-slide { 
            transform:  rotateY(72deg) translateZ(350px);
            background-color: rgb(255, 228, 196);
            
        }
        .third-slide {
            transform:  rotateY(144deg) translateZ(350px);
            background-color: rgb(75, 47, 5);
        }
        .fourth-slide {
            transform: rotateY(216deg) translateZ(350px);
            background-color: rgb(8, 136, 125);
        }
        .fives-slide {
            transform: rotateY(288deg) translateZ(350px);
            background-color: rgb(207, 19, 144);
        }
       
    
    }
    
   
}


@keyframes rotate-slide {
    0% {

        transform: rotateY(0deg);
    }
    19% {

        transform: rotateY(0deg);
    }
    20% {

        transform: rotateY(72deg);
    }
    39% {

        transform: rotateY(72deg);
    }
    40% {
        transform: rotateY(144deg); 
    }
    59% {

        transform: rotateY(144deg);
    }
    60% {

        transform: rotateY(216deg);
    }
    79% {

        transform: rotateY(216deg);
    }
    80% {

        transform: rotateY(288deg);
    }
    99% {

        transform: rotateY(288deg);
    }

    100% {
        transform: rotateY(0deg);
    }
 
}

@keyframes second-slider {
   0% {
    transform: rotateY(72deg);
   }
   100% {
    transform: rotateY(72deg);
   }
}


