@import './components/header.scss';
@import './components/search-bar.scss';
@import './components/slider.scss';


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    user-select: none;
}

.my-container {
    width: 90%;
    margin: auto;
    @media screen and (max-width: 1000px) {
        & {
            width: 95% ;
            margin: auto;
        }
        
    }
 
}

.display-none {
    display: none !important;
}



.default-icon {
    transition: 500ms;      

}

.rotated-icon {
         transition: 500ms;      
    transform:rotateZ(180deg);
}


.height-0 {
    height: 0;
    overflow: hidden;
    transition: 500ms ease-out;
}

// .height-auto {
//     height: auto;
//     transition: 500ms ease-out;
// }