

.tender {
    font-size: 12px;
    font-family: sans-serif;
    ul {
        display: flex;

        li {

            // border: 1px solid black;
            margin-right: 10px;
            border-bottom: 2px solid rgba(224, 226, 233, 0.288);

            &:not(:last-child) {
                
                padding: 5px;
                &>*:hover {
                    border-bottom: 2px solid black;
                }
            }
            &:last-child {
                border: 2px solid blue;
                color: blue;
                padding: 5px;
                border-radius: 15px;
                &:hover {
                    color: white;
                    background-color: blue;
                }
            }
        }
    }
}